$title-font:'Fraunes',serif;
$text-font:'Barlow', sans-serif;
$color-white:#FFFFFF;
$color-title-grey:#24303E;
$color-p-grey:#808397;
$color-title-green:#24554A;
$color-p-green:#24554A;
$color-title-blue:#052C3B;
$color-p-blue:#19536C;
$color-title-testimonial:#A7AAAD;
$color-p-testimonial:#5B636D;
$color-name-testimonial:#24303E;
$color-job-testimonial:#A7AAAD;
$color-footer-background:#90D4C6;
$color-footer-link:#458D7E;
$color-pink-LM:#FE7766;
$color-yellow-LM:#FAD400;

