.hiddenMobile{
  display:none;
}
header{
  background-image:url("../img/orangeMobile.png");
  background-size:cover;
  background-repeat: no-repeat;
  padding-bottom:30%;
  
  #c-headerSectionArrow{
    position:relative;
    margin-top:55%;
    
    #c-headerSectionArrow__WrapImg__arrow{
      position: absolute;
      bottom: 0;
      left:45%;
      height:31vw;
    
    }
  }
}

@media screen and (min-width: 769px) {

  header{
    background-image:url("../img/orangeDesktop.png");
    padding-bottom:18%;

    #c-headerSectionArrow{
      margin-top:15%;
      #c-headerSectionArrow__WrapImg__arrow{
     
        left:48%;
        height:8vw;

      }
    }
  }
}

