#c-testimonialsSectionGrid{
  display:grid;
  grid-template-columns: auto;
}

.testimonialsItem{
  margin: 5% 4%;
  
  img{
    width:30%;
  }
}

@media screen and (min-width: 769px) {
  #c-testimonialsSectionGrid{
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 25% 75%;
    margin: 5% 14% 15% 14%;
  }
  
  #c-testimonialsSection-Wrapper__Title{
    grid-row:1;
    grid-column:1/4;
  }

  .testimonialsItem{

    display:grid;
    grid-template-rows: auto auto auto;
    text-align: center;
    row-gap: 10%;
  }

  img{
    width:30%;
    margin:0 35%;
  }
  
}