.container {
  max-width: 1400px;
  margin: 0 auto;
}

.container > *{
  max-width: 1400px;
}

div, nav, section, header, footer, body{
  
  border: black solid 1px;
}

.center{
  margin:auto;
  text-align:center;
}