.hiddenDesktop{
  @media screen and(min-width: 769px){
    display:none;
  }
}

.hiddenMobile{
  @media screen and(max-width: 769px){
    display:none;
  }

}

.center{
  margin:auto;
  text-align:center;
}