@import "../abstracts/__abstracts-dir";

h1,h2,h3,h4,h5,h6{
  font-family: $title-font;
  font-weight: 900;
}

#c-headerSectionTitles__text{
  font-family: $title-font;
  font-weight: 900;
  color:$color-white;
  font-size:11vw;
  @media screen and (min-width: 48em){
    font-size:4vw;
  }
  text-transform: uppercase;
  margin:0;
  letter-spacing: .5rem;
  word-spacing: .5rem;
}

p{
  font-family: $text-font;
  font-weight: 600;
}


header{
  color:$color-white;
  a{
    display:inline-block;
    font-family: $text-font;
    font-size:1vw;
    padding: 0 1rem;
  }
}

.whiteSection{

  h2,h3,h4,h5,h6{
    color:$color-title-grey;
  }
  
  p{
    color:$color-p-grey;
  }
}

.greenSection{

  h1,h2,h3,h4,h5,h6{
    color:$color-title-green;
  }

  p{
    color:$color-p-green;
  }
}

.blueSection{

  h1,h2,h3,h4,h5,h6{
    color:$color-title-blue;
  }

  p{
    color:$color-p-blue;
  }
}

.testimonials{

  .title{
    color:$color-title-testimonial;
  }
  
  .name{
    color:$color-name-testimonial;
  }
  
  .job{
    color:$color-job-testimonial;
  }

  .text{
    color:$color-p-testimonial;
  }
}

footer{
  a{
    color:$color-footer-link;
  }
}
